@charset "UTF-8";

#result {
	position: absolute;
	width: 100%;
	max-width: 870px;
	cursor: pointer;
	overflow-y: auto;
	max-height: 400px;
	box-sizing: border-box;
	z-index: 1001;
}

.collapsing {
	-webkit-transition: none;
	transition: none;
	display: none;
}

.link-class:hover {
	background-color: #f1f1f1;
}